// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");

//jQuery UI
@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");

//Tingle.js CSS
@import url("https://cdnjs.cloudflare.com/ajax/libs/tingle/0.11.0/tingle.min.css");

//Slick Carousel CSS
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");

//Slick Theme
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

// Variables
@import "variables";

//Custom Variables
$text-color: #3B3B3B;
$gray: #D3D2D2;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  outline: none;
}

body {
  max-width: 100%;
  font-weight: 100;
}

p {
  text-align: center;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

input, textarea {
  color: $text-color;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid $text-color;
}

//Changing placeholder text color
$placeholder-color: #666;
// WebKit, Blink, Edge
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $placeholder-color;
}
// Mozilla Firefox 4 to 18
input:-moz-placeholder, textarea:-moz-placeholder {
  color: $placeholder-color;
  opacity:  1; //Firefox defaults to lower opacity, so need this
}
// Mozilla Firefox 19+
input::-moz-placeholder, textarea::-moz-placeholder {
  color: $placeholder-color;
  opacity:  1; //Firefox defaults to lower opacity, so need this
}
// Internet Explorer 10-11
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: $placeholder-color;
}
// Microsoft Edge
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: $placeholder-color;
}

.intro {
  top: 10%;
  font-weight: 500;
}

.intro,
.typed {
  position: absolute;
  right: 5%;
  color: #FFF;
  text-align: right;
  font-size: 3em;
  line-height: 60px;
}

.navbar-brand {
  padding: 3px;
  font-size: 14px;
  float: left;
  div {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    display: inline;
  }
}

.navbar {
  min-height: 35px;
  position: fixed;
  width: 100%;
  z-index: 1;
  //Transition for background color on scroll
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-dark{
  background-color: rgba(34, 34, 34, 0.8);
}

.typed {
  top: 60%;
}

.centered-button-div {
  text-align: center;
  padding: 10px 0;
}

.btn-default {
  border-width: 0;
  border-radius: 24px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.title {
  display: inline-block;
  margin: 20px auto;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
}

.col-sm-12 {
  text-align: center;
}

.chiemeka {
  font-weight: 600;
}

.container1 {
  width: 100%;
}

.navbar-logo {
  margin: 0 5px;
}

.background-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.bobby {
  position: absolute;
  top: 0;
  left: 2%;
}

.center-text {
  padding: 0 10%;
}

.typed-strings {
  display: none;
}

.project-image {
  width: 100%;
}

.invisible-image {
  display: none;
  //Make alt text blend with background
  color: #00BD9C;
}

.projects-div-title {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.projects-div-title p {
  color: #FFF;
}

.projects-div-title p:hover {
  color: #298DFA;
}

.no-background-image {
  display: table;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5%;
  background-color: #000;
  opacity: 0;
  vertical-align: middle;
}

.description p {
  color: #FFF;
  text-align: left;
  margin: 2%;
}

.secondary-title {
  padding-top: 10px;
}

.form {
  text-align: center;
  width: 750px;
  margin: 0 auto;
}

.form .row {
  padding: 5px 0;
}

.contractual-input {
  width: 90%;
  height: 50px;
}

.contractual-textarea {
  width: 90%;
  height: 200px;
  resize: none;
}

.btn-vertical-margins {
  margin: 20px 0;
}

.form-sent {
  display: none;
  padding-left: 10px;
}

.ui-slider-handle {
  border-radius: 50%;
}

.ui-state-active {
  background: #00BD9C !important;
  border: 1px solid #008C73 !important;
}

.slider-div {
  width: 90%;
  margin: 10px auto;
}

.input-title {
  width: 90%;
  border-bottom: 0px;
}

.bottom-logo {
  margin: 20px 0 5px 0;
}

.bottom-text {
  font-size: 14px;
}

.bottom-title {
  margin: 0;
  font-size: 22px;
}

.link-sprite {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.tingle-modal {
  display: flex !important;
  overflow: visible !important;
  height: 100%;
}

.tingle-modal-box {
  width: 90%;
  background: $gray;
  border-radius: 0px;
}

.project-modal {
  width: auto;
}

.project-title{
  text-transform: capitalize;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

.project-text {
  font-size: 16px;
}

.project-details {
  @extend .project-text;
  text-align: left;
}

.project-details-title {
  @extend .project-details;
  border-bottom: 0.5px solid $text-color;
}

.modal-image {
  width: 90%;
  margin: 0px auto;
}

.modal-carousel {
  width: 645px;
  margin: 10px auto;
}

.tingle-modal__closeLabel {
  font-family: "Montserrat", sans-serif;
}

.tech-li {
  float: left;
  margin: 0 15px;
}

.tertiary-title {
  border-bottom: 1px solid $text-color;
  width: 40%;
  margin: 10px auto;
}

#projects,
#contact,
#projects .row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#projects .col-sm-5 {
  padding: 0;
  width: 50%;
}

#contact {
  background-color: $gray;
}

#budget-slider {
  display: inline-block;
  width: 74%;
}

#budget-slider-amount {
  width: 24%;
  text-align: center;
}

@media (max-width:896px){
  .modal-carousel {
    width: 90%;
  }
}

@media (max-width:768px){
  #projects .col-sm-5 {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}

@media (max-width:736px) and (orientation:landscape) {
  .modal-carousel {
    display: none;
  }
  .about-col {
    display: none;
  }
}

@media (max-width:540px){
  .tingle-modal__close {
    background-color: #004437;
  }
}

@media (max-width:480px){
  p {
    font-size: 14px;
  }
  .tingle-modal-box__content {
    padding-top: 2px;
  }
  .project-title {
    font-size: 18px;
  }
  .project-text {
    font-size: 14px;
  }
  .modal-btn {
    padding: 2% 5%;
  }
  .about-col {
    display: none;
  }
}

@media (max-width:320px){
  .tech-col {
    display: none;
  }
}
